.user-center {
}

.nav-list {
  border-top: 2rpx solid #f1f1f1;
  .list-item {
    position: relative;
    display: flex;
    height: 80rpx;
    align-items: center;
    border-bottom: 2rpx solid #f1f1f1;
    padding-left: 20rpx;
    font-size: 28rpx;
    color: #444;
    .arrow:after {
      content: ' ';
      display: inline-block;
      height: 16rpx;
      width: 16rpx;
      border-width: 2rpx 2rpx 0 0;
      border-color: #666;
      border-style: solid;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      position: absolute;
      top: 50%;
      margin-top: -10rpx;
      right: 30rpx;
    }
  }
}

.my-posscession {
  display: flex;
  margin: 20rpx 0;
  .item {
    flex: 1;
    justify-content: center;
    text-align: center;
    .item-image {
    }
    .item-image-img {
      width: 80rpx;
      height: 80rpx;
      border-radius: 50%;
    }
    .border {
      border-right: 1px solid #ccc;
    }
    .item-number {
      border-radius: 20rpx;
      border: 1px solid #e3e3e3;
      font-size: 20rpx;
      display: inline-block;
      width: 160rpx;
      padding: 4rpx 20rpx;
      color: #666;
    }
    .item-title {
      color: #666;
      font-size: 28rpx;
    }
  }
}

.user-info {
  height: 240rpx;
  border-bottom: 1px solid #f1f1f1;
  background: #f7f4e8;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  .info-top {
    flex: 2;
    display: flex;
    margin: 20rpx 20rpx 10rpx 20rpx;
    .top-left {
      width: 140rpx;
      height: 140rpx;
      .avatar {
        width: 140rpx;
        height: 140rpx;
        border-radius: 50%;
      }
    }
    .top-right {
      flex: 1;
      margin: 10rpx 20rpx;
      .name {
        .button {
          border: 1rpx solid #999;
          display: inline-block;
          padding: 0rpx 10rpx;
          font-size: 20rpx;
          border-radius: 5rpx;
          margin-left: 30rpx;
          color: #999;
        }
      }
      .credits {
        font-size: 24rpx;
        margin-top: 20rpx;
        .credits-info {
          display: flex;
          .blank {
            flex: 1;
          }
        }
        .progress-bar {
          margin-top: 20rpx;
          /* 进度条的槽 */
          width: 100%;
          /* 设置进度条的高度 */
          height: 5px;
          /*进度条外层div的背景色，进度未达到的地方的颜色 */
          background-color: #d6ddd9;

          border-radius: 3px;
        }
        .progress {
          /* 进度部分 */
          /* 利用继承父元素宽度的百分比控制进度 */
          height: 100%;
          /* 内层背景色即进度达到的颜色 */
          background-color: #89dbd7;
          border-radius: 3px;
        }
      }
    }
  }
  .info-bottom {
    margin: 0 20rpx;
    flex: 1;
    display: flex;
    color: #666;
    font-size: 28rpx;
    justify-content: space-between;
    .button {
      display: inline-block;
      margin: 0 40rpx;
      border: 1px solid #777;
      border-radius: 10rpx;
      padding: 2rpx 14rpx;
      height: 30rpx;
      line-height: 30rpx;
    }
  }
}

.services {
  padding: 32rpx;
  font-size: 24rpx;
  line-height: 26px;
  .bold {
    font-weight: bold;
    font-size: 28rpx;
    margin: 10rpx 0;
  }
}

.feedback {
  .container {
    background: #fff;
    display: flex;
    flex-direction: column;
  }

  .item-title {
    color: #3d3d3d;
    font-size: 32rpx;
    margin: 24rpx 40rpx;
    font-weight: bold;
  }

  .content-suggestion {
    position: relative;
  }

  .input-suggestion {
    background: #f9f9f9;
    border-radius: 8rpx;
    color: #3d3d3d;
    height: 180rpx;
    width: auto;
    line-height: 2;
    padding: 24rpx 28rpx 60rpx;
    margin: 0 40rpx;
    font-size: 28rpx;
  }

  .input-placeholder {
    color: #9c9c9c;
    line-height: 2;
    font-size: 28rpx;
  }

  .count-limit {
    color: #3d3d3d;
    font-size: 28rpx;
    margin-right: 52rpx;
    margin-bottom: 20rpx;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .input-email {
    background: #f9f9f9;
    border-radius: 8rpx;
    color: #3d3d3d;
    height: 80rpx;
    width: auto;

    line-height: 2;
    padding-left: 28rpx;
    margin: 0 40rpx;
    font-size: 28rpx;
  }

  .button {
    font-size: 40rpx;
    background: linear-gradient(to right, #76db8c, #2bd36b);
    color: white;
    box-shadow: 0px 6px 20px #73e298;
    width: 320rpx;
    text-align: center;
    line-height: 80rpx;
    margin-top: 64rpx;
    margin-left: 215rpx;
    border-radius: 40rpx;
  }
}

.edit-info {
  .container {
    background: #fff;
    height: 1334rpx;
  }
  .edit-info {
    width: 100%;
    height: 100rpx;
    border-bottom: 1rpx solid #e3e3e3;
    display: flex;
  }
  .change-head-Img {
    height: 140rpx;
    font-size: 34rpx;
    line-height: 140rpx;
  }
  .devide {
    height: 20rpx;
    background: #f5f5f5;
  }
  .click-to-change {
    flex: 8;
    margin-left: 30rpx;
    color: #666;
  }
  .userinfo-avatar {
    border-radius: 50%;
    width: 80rpx;
    height: 80rpx;
    position: relative;
    top: 30rpx;
    left: -20rpx;
  }
  .edit-info paker {
    flex: 20;
  }
  .info-frame {
    display: inline-block;
    height: 100rpx;
    /* margin-top: 28rpx; */
    text-align: right;
    text-indent: 2rem;
  }
  .info-desc {
    display: inline-block;
    height: 100rpx;
    font-size: 28rpx;
    line-height: 100rpx;
    margin-left: 30rpx;
    flex: 9;
    color: #666;
  }
  .save-btn {
    font-size: 40rpx;
    background: linear-gradient(to right, #76db8c, #2bd36b);
    color: white;
    box-shadow: 0px 6px 20px #73e298;
    width: 320rpx;
    text-align: center;
    line-height: 80rpx;
    margin-top: 64rpx;
    margin-left: 215rpx;
    border-radius: 40rpx;
  }
  .nav-arrow:after {
    flex: 1;
    content: ' ';
    display: inline-block;
    height: 16rpx;
    width: 16rpx;
    border-width: 2rpx 2rpx 0 0;
    border-color: #666;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    /*position: relative;
      top: 30%;*/
    margin-top: 44rpx;
    margin-right: 30rpx;
  }
  .right-arrow:after {
    flex: 1;
    content: ' ';
    display: inline-block;
    height: 16rpx;
    width: 16rpx;
    border-width: 2rpx 2rpx 0 0;
    border-color: #666;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    margin-right: 30rpx;
  }

  .edit-info picker {
    flex: 9;
  }
  .picker-frame {
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    font-size: 28rpx;
    color: #666;
    margin-left: 30rpx;
  }

  .picker-frame text {
    float: right;
    margin-right: 30rpx;
    font-size: 32rpx;
    color: #666;
    line-height: 100rpx;
    padding-top: 2rpx;
  }
  .pnav-arrow:after {
    flex: 1;
    content: ' ';
    display: inline-block;
    height: 16rpx;
    width: 16rpx;
    border-width: 2rpx 2rpx 0 0;
    border-color: #666;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    /*position: relative;
      top: 30%;*/
    margin-top: 44rpx;
    margin-right: 30rpx;
  }
}
